.navbar {
    display: flex;
    justify-content: space-between;
    padding: 29px 88px 0 80px;
    height: 78px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 21px;
    list-style-type: none;
    color: #CFCFCF;
}

a:visited {
    color: #CFCFCF;
}

.active {
    padding: 0 0 45px 0;
    border-bottom: 3px solid #618967;
    font-weight: 500;
    color: #ffffff;
}

@media (max-width:768px) {
    .navbar {
        padding: 30px 30px 0 30px;
        font-size: 16px;
        line-height: 21px;
    }
}

@media (max-width: 375px) {
    .navbar {
        padding: 20px 15px;
        width: 955px;
        height: 55px;
        overflow-x: scroll;
        font-size: 14px;
        line-height: 16px;
    }
}